<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lamda</title>
</head>
<body>
    <header class="menutren">
        <div class="center">
            <div class="left">
                <a href="#" class='logo'>Lamda</a>
            </div>
            <div class="right">
                <nav>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">PROJECTS</a></li>
                        <li><a href="#">CLIENTS</a></li>
                        <li><a href="#">MEET THE TEAM</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="home">
        <div class="anh">
        
        </div>
        <div class="text">
            <p>et, consectetur adipiscing elit. Morbi ut sem maxim</p>
            <h4>Nunc ac finibus elit. Praesent a mauris non</h3>
            <p>uis at metus vehicula, finibus ligula vitae, molestieLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut sem maximus, commodo libero et, sagittis dui. Curabitur sollicitudin, leo quis scelerisque elementum, quam est porttitor turpis, vitae tempus nibh orci ac mi. Fusce egestas ligula eu rhoncus placerat. Duis varius massa erat, et vulputate nisi fringilla quis. Curabitur sollicitudin non risus sit amet pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut in arcu facilisis, sollicitudin neque a, molestie justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultricies interdum lacus in iaculis. Suspendisse facilisis eros id tempor mattis. Mauris maximus quam vel lectus finibus, quis iaculis ligula ultrices. Cras nunc massa, vestibulum et nisi quis, eleifend scelerisque leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a tortor non purus fringilla viverra. Praesent sodales sit amet massa sed consectetur. Pellentesque vel diam aliquam, porttitor erat eget, porta elit.

 </p>
        </div>
    </div>
</body>
</html>